<IfModule mod_rewrite.c>
    RewriteEngine On

    #AddType x-mapp-php6 .php
    #AddHandler x-mapp-php6 .php

    #<IfModule mod_vhost_alias.c>
     #   RewriteBase /
    #</IfModule>

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
